<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Order list</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<div class="container my-2">
    <h1>Camera orders</h1>
    <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>
    <div class="alert alert-warning text-center" th:if="${error}" th:text="${error}"></div>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Username</th>
            <th>Dimensions</th>
            <th>Resolution</th>
            <th>Color</th>
            <th>Focal length</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${listOrders}">
            <td th:text="${order.orderId}">Order Id</td>
            <td th:text="${order.user.username}">Username</td>
            <td th:text="${order.dimensions}">Dimensions</td>
            <td th:text="${order.resolution}">Resolution</td>
            <td th:text="${order.color}">Color</td>
            <td th:text="${order.focalLength}">Focal length</td>
            <td th:text="${order.amount}">Amount</td>
            <td th:text="${order.orderStatus}">Status</td>

            <!-- IF order status is waiting for confirmation or worker-->
            <td>
                <a th:if="${order.getStatus() == 'CONSIDERING' or order.getStatus() == 'REJECTED'}"
                   th:href="@{/admin/orders/page/{pageNo}/acceptOrder/{id}(id=${order.orderId}, pageNo=${currentPage})}"
                   class="btn btn-primary">Accept</a>
                <a th:unless="${order.getStatus() == 'CONSIDERING' or order.getStatus() == 'REJECTED'}"
                   class="btn disabled btn-primary">Accept</a>

                <a th:if="${order.getStatus() == 'CONSIDERING' or order.getStatus() == 'ACCEPTED'}"
                   th:href="@{/admin/orders/page/{pageNo}/rejectOrder/{id}(id=${order.orderId} , pageNo=${currentPage})}"
                   class="btn btn-danger">Reject</a>
                <a th:unless="${order.getStatus() == 'CONSIDERING' or order.getStatus() == 'ACCEPTED'}"
                    class="btn disabled btn-danger">Reject</a>

                <a th:if="${order.getStatus() == 'DONE'}"
                   th:href="@{/admin/orders/page/{pageNo}/releaseForm/{id}(id=${order.orderId} , pageNo=${currentPage})}"
                   class="btn btn-success">Release</a>
                <a th:unless="${order.getStatus() == 'DONE'}"
                   class="btn disabled btn-success">Release</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<!--<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
						<a th:if="${currentPage != i}" th:href="@{'/admin/orders/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <!--<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>-->
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/orders/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <!--<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>-->
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/orders/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>